# Disable Broadcom WiFi - not present on Muse Pi Pro hardware
CONFIG_BCMDHD=n

# Realtek RTL8852BS is the actual WiFi hardware, but there are also issues with
# it in the vendor kernel as-is, so disable it too
CONFIG_RTL8852BS=n
